//这里是可复用的scss代码

// 页面中两侧的内边距
@mixin bothSidePadding {
  padding: 0 20%;
}

//通用阴影
@mixin commonShadow {
  box-shadow: 0 0 3px #666;
}

// 文章模块中的内边距
@mixin articlePadding{
  padding: 20px;
}

//文章字体样式
@mixin articleFontStyle{
  font-size: 20px;
}
